/* .card{
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 21px 9px rgba(207,207,207,0.43);
    -moz-box-shadow: 10px 10px 21px 9px rgba(207,207,207,0.43);
    box-shadow: 10px 10px 21px 9px rgba(207,207,207,0.43); 
    margin: 10px;
    width: 25%;  
} */
/* .card-header{
    background: #F7F7F7;
    border-bottom: 1px solid;
} */
.card-container{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}